*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0px
}

i,
li,
span,
h2,
label,
p {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    color: white;
    box-shadow: 0px 2px 20px black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand h2 {
    margin-left: 30px;
}

.navbar-nav {
    display: flex;
}

.navbar-nav li {
    margin: 0 10px;
}

.form {
    display: grid;
    max-width: 350px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
    justify-items: stretch;
    justify-content: center;
    grid-gap: 10px;
}

.name,
.address,
.email,
.birthday {
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-gap: 5px;
    align-items: center;
}

.phone {
    display: grid;
    grid-template-columns: 25px 1fr 1fr;
    grid-gap: 5px;
}

.city {
    display: grid;
    padding-left: 30px;
}

.state-zip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    grid-gap: 5px;
}

#name,
#address,
#state,
#zip,
#birthday {
    height: 35px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    padding: 10px;
    background-color: lightgray;
    color: darkgray;
    width: 100%;
    border-radius: 5px;
}

#phone-number,
#label,
#city,
#email {
    height: 35px;
    padding: 10px;
    border-radius: 5px;
}